/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, a, .font-primary{
  font-family: Circular,Helvetica,sans-serif;
}

body {
  color: #fff;
  background: rgb(242,244,247);
  background: linear-gradient(137deg, rgba(242,244,247,1) 4%, rgba(215,225,240,1) 100%);
  margin-bottom: 600px;
  display: flex;
  flex-direction: column;
}


a {
  color: #3b28cc;
  text-decoration: none!important;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


/*--------------------------------------------------------------
# NAVBAR
--------------------------------------------------------------*/


.navbar .getstarted, .navbar .getstarted:focus {
  background: #5679fb;
  color: #fff;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 50px;
}


.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #ee7843;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #6895ff;
}
.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #2667ff;
}
.section-title p::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #3b28cc;
  bottom: 0;
  left: calc(50% - 30px);
}

/*--------------------------------------------------------------
# Icon box
--------------------------------------------------------------*/
.icon-box{
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


#hero {
  width: 100%;
  height: 80vh;
  background: #fff;
  border-bottom: 2px solid #e0e9f7;
  margin-bottom: -72px;
}

#hero h1 {
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 79px;
  color: #2f3358;
}
#hero h2, h5, h6 {
  color: #444359;
  margin: 15px 0 0 0;
  font-weight: 300;
}

#hero h2{
  font-size: 22px;
}
#hero h5{
  font-size: 18px;
}
#hero h6{
  font-size: 16px;
}


@media (max-width: 768px) {
  #hero .hero-img img {
    width: 70%;
  }
}


@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}
@media (max-height: 600px) {
  #hero {
    height: 120vh;
  }
}
  
#hero .animated {
  animation: up-down 3s ease-in-out infinite alternate-reverse both;
  max-width: 300px;
}
@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
  #hero .wave{
    bottom: 0px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2667ff;
}
#about h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color: #6895ff;;
}
#about i {
  font-size: 48px;
  margin-top: 15px;
  color: #f39e7a;
}
#about p {
  font-size: 15px;
  color: #5a6570;
}

#about .icon-box{
  padding: 20px;
  margin: 0 0 15px 0;
  border-bottom: 3px solid #fff;
}
#about .icon-box:hover {
  transform: translateY(-5px);
  border-color: #ef7f4d;
}
#about .icon-box {
  height: 100%;
  line-height: 1;
  margin-bottom: 15px;
  color: #6895ff;
}
#about .title {
  font-weight: 700;
  font-size: 18px;
}
#about .title a{
  color: #111;
}
#about .description{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
}

.bi-star, .bi-star-fill{
  display: inline-flex;
  font-size: 18px!important;
  color: #2667ff!important;
  padding-bottom: 0px;
  margin: 0px 2px 15px 2px;
}


@media (max-width: 991px) {
  .about-img img {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .about-img img {
    max-width: 90%;
  }
}